/*---imports---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200&display=swap');


/*---main---*/

main {
    position: absolute;
    top: 12vh;
    right: 0;
    left: 0;
    height: calc(100% - 12vh);
}

/*---create hotel---*/
.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-header {
    text-align: center;
}

.container-header h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0;
}

.container-header p {
    font-style: italic;
    margin: 0;
}

.container-body form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}